<p id="notice"><%= notice %></p>

<p>
  <b>Titel:</b>
  <%= @blog.titel %>
</p>

<p>
  <b>Description:</b>
  <%= @blog.description %>
</p>



<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
<%= link_to 'Posts', blog_posts_path(@blog) %>
